<%= form_with(model: entry) do |f| %>
  <% if entry.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

      <ul>
        <% entry.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :meal_type, style: "display: block" %>
    <%= f.text_field :meal_type %>
  </div>

  <div>
    <%= f.label :calories, style: "display: block" %>
    <%= f.number_field :calories %>
  </div>

  <div>
    <%= f.label :proteins, style: "display: block" %>
    <%= f.number_field :proteins %>
  </div>

  <div>
    <%= f.label :carbohydrates, style: "display: block" %>
    <%= f.number_field :carbohydrates %>
  </div>

  <div>
    <%= f.label :fats, style: "display: block" %>
    <%= f.number_field :fats %>
  </div>

  <div>
    <%= f.submit %>
  </div>
<% end %>
